*{
    margin: 0;
}

body{
    background-color: beige;
    overflow: hidden;
    padding: 50px 10px;
}

.transition p{
    font-size: 40px;
    transition: ;
}
.transition2 p{
    font-size: 40px;
}
.transition3 p{
    font-size: 40px;
}
.transition p::before{
    background-color: red;
    content: "";
    position: absolute;
}

.transition p::after{

}


.transition2 p{

}
.transition2 p::before{

}

.transition2 p::after{

}


.transition3 p{

}
.transition3 p::before{

}

.transition3 p::after{

}


